@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  font-family: var(--font-quicksand);
  color: var(--foreground);
  background: var(--background);
}
